.gradle/
.idea/
build/
configs/
screenshots/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
bin/

.DS_Store

accounts.json

out/production/classes/wearblackallday/accountmanager/

META-INF/
